strands-agents
strands-agents-tools
strands-agents[openai]
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
opik
langchain==1.2.4
langchain-core
langchain-openai
langgraph>=1.0.10
matplotlib
pandas
