@import "tailwindcss";

/* Basic resets for full-width app layout */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}